# All configuration for plugins and other utils is defined here.
# Read more about `setup.cfg`:
# https://docs.python.org/3/distutils/configfile.html


# === Linter configuration ===
# You can reuse this configuration in your own projects.
# See: https://wemake-python-styleguide.rtfd.io/en/latest/pages/usage/integrations/nitpick.html

[flake8]
# Base flake8 configuration:
# https://flake8.pycqa.org/en/latest/user/configuration.html

require-plugins =
  flake8-aaa
  flake8-pytest-style
  wemake-python-styleguide

# Excluding some directories:
exclude =
  .git
  __pycache__
  .venv

# Exclude some pydoctest checks globally:
ignore =
  DAR103,
  RST203, RST301,
  W504,
;, RST303, RST304, DAR203, D100, D104, D401,

per-file-ignores =
  tests/*.py: DAR101, S101
;, S105, S404, S603, S607, WPS211, WPS226, WPS323
  **/__init__.py: D104

# Disable some pydoctest checks globally:
;doctests = True
